.DiaryBodyLeft {
  width: 292px;
  height: 760px;
  border-radius: 15px;
  margin-top: 17px;
  margin-left: -300px;
  text-align: center;
  background-color: rgb(166, 227, 233);
}

.DiaryBodyRight {
  background-color: rgb(255, 255, 255);
  margin: -760px 0px;
  width: 1195px;
  height: 760px;
  border-radius: 15px;
  position: absolute;
}
